<FilesMatch "\.(php|phtml|php[0-9]|phps|cgi|pl|asp|aspx|shtml|sh)$">
    Require all denied
</FilesMatch>
RemoveHandler .php .phtml .php3 .php4 .php5 .php7 .phps
RemoveType    .php .phtml .php3 .php4 .php5 .php7 .phps